*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    max-width: 1000px;
    height: 500px;
    display: flex;
    border: 1px solid;
    margin: auto;
}

.container-main-img{
    color: white;
    width: 80%;
    position: relative;
    text-align: end;
}

.shell{
    width: 100%;
    height: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;;
    position: relative;
}

.sidebar-container-img{
    height: calc(100% / 5);
    width: 100%;
    position: relative;
}

.sidebar-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-img{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ;
}

.main-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.active-img{
    opacity: 1;
}

.text-img{
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 1.5rem;
}

.arrow{
    background-color: rgb(236, 233, 233);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 92;
}

.arrow-up{
    top: 1.1rem;
}

.arrow-down{
    bottom: 1.1rem;
}

.border-active{
    border: 2px red solid;
}